* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.6;
}
.header {
  display: flex;
  justify-content: space-around;
  background-color: #874ca1;
  color: #fff;
}
.main-nav li {
  display: inline-block;
  text-decoration: none;
  margin: 15px;
}
.main-nav a {
  text-decoration: none;
  color: #fff;
}
.main-nav a:hover {
  color: yellow;
}
.section {
  display: flex;
  justify-content: center;
  background-color: #874ca1;
  color: #fff;
}
.sectionleft {
  padding: 40px;
  width: 500px;
  margin-right: 50px;
}
.sectionright img {
  width: 200px;
  height: 200px;
  margin-left: 200px;
}
.sectiontwo {
  display: flex;
  justify-content: center;
}
.navside {
  width: 300px;
  height: 470px;
  padding: 30px;
  margin: 50px 30px 0 0px;
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 12px -3px #000000;
}
.navside h3 {
  margin: 20px 0;
}
.navside a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid grey;
  margin: 5px 0;
}
.sidebar {
  width: 500px;
  padding: 20px;
  margin: 50px 30px 50px 0;
  box-shadow: 0px 0px 12px -3px #000000;
}
.greenp {
  background-color: #459e33;
  color: #fff;
}
.sidebar h4 {
  margin: 20px 0;
}
.sidebar a {
  text-decoration: none;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  background-color: #874ca1;
  color: #fff;
}
.blackp {
  background-color: black;
  color: #fff;
  padding: 10px;
}
.footer {
  background-color: #280030;
  display: flex;
  color: #fff;
  justify-content: space-around;
}
.copyright {
  display: flex;
  flex-direction: column;
}
.nav-bot {
  display: flex;
  flex-direction: column;
}
.nav-bot a {
  text-decoration: none;
  color: #fff;
}
.socialmedia i {
  font-size: 2rem;
  margin: 10px;
  color: #fff;
}
.nav-bot a:hover,
.socialmedia i:hover {
  color: yellow;
}
.copyright,
.nav-bot,
.socialmedia {
  margin-top: 60px;
}
